a{
    text-decoration: none;
}

a:link, a:visited{
    color:rgb(21, 140, 118);
}

a:hover{
    color:rgb(21, 140, 118);
    text-decoration: underline;
}

h1,h2,h3{
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
}

p{
    padding-left: 20px;
    padding-right: 20px;
}

body{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #444;
    background: #ffffff;
}

a.footer-link, a.footer-link:visited{
    color:#585858;
    text-decoration: none;
}
a.footer-link:hover{
    text-decoration: underline;
}

p.footer{
    color:#585858;
    font-size:80%;
}

.figure-img{
    display:inline-block;
    margin: -1px 0 6px 0px;
    line-height:1;
    float: right;
    padding-left:20px;
    padding-right:20px;
    width: 30%;
    height: 50%;
}

img {
    height: 50%;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.menu{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3rem auto 2rem auto;
}

.carolina-name {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

.nav-links {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 400px;
}

.nav-links-lang {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 20px;
    font-size: 12px;
}

.langs {
    align-self: center;
}