<div class="menu">
    {{ $lang := print .Site.Language  | safeHTML }}
    <a href="/{{ $lang }}/" class="carolina-name">Carolina Ortega Pérez</a>
    <nav id="nav" class="nav-links" style="padding: top 20px;">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">
        {{ if not (eq .Name "Carolina Ortega Pérez") }} 
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        {{ end }}
        </a>
        {{ end }}
    </nav>
    <div class="langs"><a class="nav-links-lang" href="/en/">EN</a> <a class="nav-links-lang"href="/es/">ES</a></div>
</div>
<hr>